.page{
    text-align:center ;
}

.admire{
    font-family: 'STIX Two Math', serif;
}

.paragraph{
    font-family: 'STIX Two Math', serif;
    padding:15px
}

.other{
    font-family: 'STIX Two Math', serif;
}
body{
    background-color: pink;
}